<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">

        
        <li class="nav-item">
            <a class="nav-link" routerLink="loginMain">Dashboard</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="view-all-emp">View all employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="view-all-rr">View all resolved requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="view-all-pr">View all pending requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="view-emp-r">View all requests for single employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="app-deny">approve or deny pending requests</a>
        </li>
        
      </ul>
    </div>
  
  </nav>