
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-all-emp">View All Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-all-rr">Veiw All Resolved Reimbursements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-all-pr">View all Pending Reimbursements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-emp-r">View all Reimbursements for an Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="app-deny">Approve or Deny a Reimbursement</a>
            </li>
        </ul>
    </nav>

</div>
