<div class="container">
    <h3>List Animals</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Species</th>
                <th>Group</th>
                <th>Weight</th>
                <th>Native Continent</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of allAnimals">
                <td>{{ animal.animalId }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.species }}</td>
                <td>{{ animal.group }}</td>
                <td>{{ animal.weight }}</td>
                <td>{{ animal.nativeContinent }}</td>
                <td><img class="img-fluid" [src]="animal.imageUrl" width="100px" height="80px" object-fit: cover></td>
                <td><button type="button" 
                    class="btn btn-light">Edit</button></td>
                <td><button type="button" 
                    class="btn btn-light" 
                    (click)="deleteAnimal(animal.animalId)">Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>
